<div id="search-overly" class="search-overly-mask">
    <a class=" search-close search-overly-close-trigger "> <i class=" fa fa-times-circle"> </i> </a>
    <div class="container">

        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->

                <!-- Appended Input-->
                <div class="control-group">
                    <label class="control-label">Search into the shop..</label>

                    <div class="controls">
                        <div class="search " role="search" id="mySearch">
                            <input class="form-control" placeholder="Start typing " type="search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="sr-only">Search</span>
                                </button>
                            </span>
                        </div>
                        <!-- for error or message -->
                        <p class="help-block hide">help</p>
                    </div>
                </div>

            </fieldset>
        </form>


    </div>
</div>
<!-- /#search-overly -->

<div class="overly-mask"></div>
<!-- /.overly-mask -->

<aside class="cart-sidebar">
    <div class="cart-sidebar-content">

        <div class="cartMenu   col-xs-12 no-margin-no-padding  ">

            <div class="cart-sidebar-header">
                <h3>Your Bag </h3>

                <div class="cart-close-trigger">
                    <button class="close" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>

            <!--<div class="w100  scroll-pane">-->
            <!--    <table>-->
            <!--        <tbody>-->
            <!--        <tr class="miniCartProduct">-->
            <!--            <td class="miniCartProductThumb" style="20%">-->
            <!--                <div><a href="product-details.html"> <img alt="img" src="images/product/16.jpg"> </a>-->
            <!--                </div>-->
            <!--            </td>-->
            <!--            <td style="40%">-->
            <!--                <div class="miniCartDescription">-->
            <!--                    <h4><a href="product-details.html"> Denim T shirt Black </a></h4>-->
            <!--                    <span class="size"> 12 x 1.5 L </span>-->

            <!--                    <div class="price"><span> $8.80 </span></div>-->
            <!--                </div>-->
            <!--            </td>-->

            <!--            <td class="delete" style="20%">-->
            <!--                <button type="button" class="close"><span aria-hidden="true">×</span></button>-->
            <!--            </td>-->
            <!--        </tr>-->

            <!--        <tr class="miniCartProduct">-->
            <!--            <td class="miniCartProductThumb" style="20%">-->
            <!--                <div><a href="product-details.html"> <img alt="img" src="images/product/5.jpg"> </a>-->
            <!--                </div>-->
            <!--            </td>-->
            <!--            <td style="40%">-->
            <!--                <div class="miniCartDescription">-->
            <!--                    <h4><a href="product-details.html"> Denim T shirt Black </a></h4>-->
            <!--                    <span class="size"> 12 x 1.5 L </span>-->

            <!--                    <div class="price"><span> $8.80 </span></div>-->
            <!--                </div>-->
            <!--            </td>-->

            <!--            <td class="delete" style="20%">-->
            <!--                <button type="button" class="close"><span aria-hidden="true">×</span></button>-->
            <!--            </td>-->
            <!--        </tr>-->
            <!--        <tr class="miniCartProduct">-->
            <!--            <td class="miniCartProductThumb" style="20%">-->
            <!--                <div><a href="product-details.html"> <img alt="img" src="images/product/7.jpg"> </a>-->
            <!--                </div>-->
            <!--            </td>-->
            <!--            <td style="40%">-->
            <!--                <div class="miniCartDescription">-->
            <!--                    <h4><a href="product-details.html"> Denim T shirt Black </a></h4>-->
            <!--                    <span class="size"> 12 x 1.5 L </span>-->

            <!--                    <div class="price"><span> $8.80 </span></div>-->
            <!--                </div>-->
            <!--            </td>-->

            <!--            <td class="delete" style="20%">-->
            <!--                <button type="button" class="close"><span aria-hidden="true">×</span></button>-->
            <!--            </td>-->
            <!--        </tr>-->
            <!--        <tr class="miniCartProduct">-->
            <!--            <td class="miniCartProductThumb" style="20%">-->
            <!--                <div><a href="product-details.html"> <img alt="img" src="images/product/13.jpg"> </a>-->
            <!--                </div>-->
            <!--            </td>-->
            <!--            <td style="40%">-->
            <!--                <div class="miniCartDescription">-->
            <!--                    <h4><a href="product-details.html"> Denim T shirt Black </a></h4>-->
            <!--                    <span class="size"> 12 x 1.5 L </span>-->

            <!--                    <div class="price"><span> $8.80 </span></div>-->
            <!--                </div>-->
            <!--            </td>-->

            <!--            <td class="delete" style="20%">-->
            <!--                <button type="button" class="close"><span aria-hidden="true">×</span></button>-->
            <!--            </td>-->
            <!--        </tr>-->
            <!--        <tr class="miniCartProduct">-->
            <!--            <td class="miniCartProductThumb" style="20%">-->
            <!--                <div><a href="product-details.html"> <img alt="img" src="images/product/4.jpg"> </a>-->
            <!--                </div>-->
            <!--            </td>-->
            <!--            <td style="40%">-->
            <!--                <div class="miniCartDescription">-->
            <!--                    <h4><a href="product-details.html"> Denim T shirt Black </a></h4>-->
            <!--                    <span class="size"> 12 x 1.5 L </span>-->

            <!--                    <div class="price"><span> $8.80 </span></div>-->
            <!--                </div>-->
            <!--            </td>-->
            <!--            <td class="delete" style="20%">-->

            <!--                <button type="button" class="close"><span aria-hidden="true">×</span></button>-->

            <!--            </td>-->
            <!--        </tr>-->


            <!--        <tr class="miniCartProduct">-->
            <!--            <td class="miniCartProductThumb" style="20%">-->
            <!--                <div><a href="product-details.html"> <img alt="img" src="images/product/9.jpg"> </a>-->
            <!--                </div>-->
            <!--            </td>-->
            <!--            <td style="40%">-->
            <!--                <div class="miniCartDescription">-->
            <!--                    <h4><a href="product-details.html"> Product Item </a></h4>-->
            <!--                    <span class="size"> 12 x 1.5 L </span>-->

            <!--                    <div class="price"><span> $90 </span></div>-->
            <!--                </div>-->
            <!--            </td>-->
            <!--            <td class="delete" style="20%">-->

            <!--                <button type="button" class="close"><span aria-hidden="true">×</span></button>-->

            <!--            </td>-->
            <!--        </tr>-->
            <!--        </tbody>-->
            <!--    </table>-->
            <!--</div>-->
            <!--/.scroll-pane-->

            <div class="miniCartFooter cart-panel-footer clearfix">

                <h3 class="text-right subtotal"> Subtotal: 0원 </h3>

                <div class="col-sm-6 ">
                    <a class="btn btn-danger  btn-block">
                        <i class="fa fa-shopping-cart"> </i> VIEW CART </a>
                </div>

                <div class="col-sm-6 ">

                    <a class="btn  btn-primary btn-block ">
                        CHECKOUT </a>

                </div>
            </div>

            <!--/.miniCartFooter-->

        </div>
        <!--/.cartMenu-->

    </div>
    <!--.cart-sidebar-content-->
</aside>
<!-- /.cart-sidebar -->

<!-- Fixed navbar start  모바일 버전-->
<div class="navbar navbar-default navbar-hero  navbar-fixed-top megamenu" role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                    class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                    class="fa fa-shopping-cart colorWhite"> </i> <span
                    class="cartRespons colorWhite"> Cart  </span></button>
            <div class="navbar-brand " style="padding-top:5px "><a href="/"  > <img src="images/noname2.png" alt="TSHOP" > </a></div>

            <!-- this part for mobile -->
            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <button class="btn btn-nobg search-trigger" type="button"><i class="fa fa-search"> </i></button>
                </div>
                <!-- /input-group -->

            </div>
        </div>

        <!-- this part is duplicate from cartMenu  keep it for mobile -->
        <div class="navbar-cart  collapse">
            <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
                <div class="w100 miniCartTable scroll-pane">
                    <table>
                <!--        <tbody>-->
                <!--        <tr class="miniCartProduct">-->
                <!--            <td style="width:20%" class="miniCartProductThumb">-->
                <!--                <div><a href="product-details.html"> <img src="images/product/3.jpg" alt="img"> </a>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:40%">-->
                <!--                <div class="miniCartDescription">-->
                <!--                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>-->
                <!--                    <span class="size"> 12 x 1.5 L </span>-->

                <!--                    <div class="price"><span> $8.80 </span></div>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>-->
                <!--            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>-->
                <!--            <td style="width:5%" class="delete"><a> x </a></td>-->
                <!--        </tr>-->
                <!--        <tr class="miniCartProduct">-->
                <!--            <td style="width:20%" class="miniCartProductThumb">-->
                <!--                <div><a href="product-details.html"> <img src="images/product/2.jpg" alt="img"> </a>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:40%">-->
                <!--                <div class="miniCartDescription">-->
                <!--                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>-->
                <!--                    <span class="size"> 12 x 1.5 L </span>-->

                <!--                    <div class="price"><span> $8.80 </span></div>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>-->
                <!--            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>-->
                <!--            <td style="width:5%" class="delete"><a> x </a></td>-->
                <!--        </tr>-->
                <!--        <tr class="miniCartProduct">-->
                <!--            <td style="width:20%" class="miniCartProductThumb">-->
                <!--                <div><a href="product-details.html"> <img src="images/product/5.jpg" alt="img"> </a>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:40%">-->
                <!--                <div class="miniCartDescription">-->
                <!--                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>-->
                <!--                    <span class="size"> 12 x 1.5 L </span>-->

                <!--                    <div class="price"><span> $8.80 </span></div>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>-->
                <!--            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>-->
                <!--            <td style="width:5%" class="delete"><a> x </a></td>-->
                <!--        </tr>-->
                <!--        <tr class="miniCartProduct">-->
                <!--            <td style="width:20%" class="miniCartProductThumb">-->
                <!--                <div><a href="product-details.html"> <img src="images/product/3.jpg" alt="img"> </a>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:40%">-->
                <!--                <div class="miniCartDescription">-->
                <!--                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>-->
                <!--                    <span class="size"> 12 x 1.5 L </span>-->

                <!--                    <div class="price"><span> $8.80 </span></div>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>-->
                <!--            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>-->
                <!--            <td style="width:5%" class="delete"><a> x </a></td>-->
                <!--        </tr>-->
                <!--        <tr class="miniCartProduct">-->
                <!--            <td style="width:20%" class="miniCartProductThumb">-->
                <!--                <div><a href="product-details.html"> <img src="images/product/3.jpg" alt="img"> </a>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:40%">-->
                <!--                <div class="miniCartDescription">-->
                <!--                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>-->
                <!--                    <span class="size"> 12 x 1.5 L </span>-->

                <!--                    <div class="price"><span> $8.80 </span></div>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>-->
                <!--            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>-->
                <!--            <td style="width:5%" class="delete"><a> x </a></td>-->
                <!--        </tr>-->
                <!--        <tr class="miniCartProduct">-->
                <!--            <td style="width:20%" class="miniCartProductThumb">-->
                <!--                <div><a href="product-details.html"> <img src="images/product/4.jpg" alt="img"> </a>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:40%">-->
                <!--                <div class="miniCartDescription">-->
                <!--                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>-->
                <!--                    <span class="size"> 12 x 1.5 L </span>-->

                <!--                    <div class="price"><span> $8.80 </span></div>-->
                <!--                </div>-->
                <!--            </td>-->
                <!--            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>-->
                <!--            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>-->
                <!--            <td style="width:5%" class="delete"><a> x </a></td>-->
                <!--        </tr>-->
                <!--        </tbody>-->
                    </table>
                </div>
                <!--/.miniCartTable-->

                <div class="miniCartFooter  miniCartFooterInMobile text-right">
                    <h3 class="text-right subtotal"> Subtotal: $210 </h3>
                    <a class="btn btn-sm btn-danger" href="cart.html"> <i class="fa fa-shopping-cart"> </i> VIEW CART
                    </a> <a href="checkout-0.html"
                            class="btn btn-sm btn-primary"> CHECKOUT </a></div>
                <!--/.miniCartFooter-->

            </div>
            <!--/.cartMenu-->
        </div>
        <!--/.navbar-cart-->

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"> Home </a></li>
                <li><a href="/shop"> Shop </a></li>

                <!-- change width of megamenu = use class > megamenu-fullwidth, megamenu-60width, megamenu-40width -->
                <li class="dropdown megamenu-fullwidth "><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    shop
                    <b class="caret"> </b> </a>
                    <ul class="dropdown-menu hero-submenu">
                        <li class="megamenu-content">

                            <!-- megamenu-content -->


                            <ul class="col-lg-3  col-sm-3 col-md-3   unstyled">
                                <li>
                                    <p class="menu-title"><strong> 위치별 검색</strong></p>
                                </li>
                                <li><a href="#"> 관광지 검색</a></li>
                                <li><a href="#"> 지도 검색 </a></li>
                                <!--<li><a href="#"> Underwear </a></li>-->

                                <!--<li><a href="#"> Coats & Jackets </a></li>-->
                                <!--<li><a href="#"> Basics </a></li>-->
                            </ul>
                            <ul class="col-lg-3  col-sm-3 col-md-3   unstyled">
                                <li>
                                    <p class="menu-title"><strong> 가격대 별 검색 </strong></p>
                                </li>

                                <li><a href="#"> very expensive </a></li>
                                <li><a href="#"> expensive </a></li>
                                <li><a href="#"> middle </a></li>
                                <li><a href="#"> cheap </a></li>
                                <li><a href="#"> very cheap </a></li>


                            </ul>

                            <ul class="col-lg-3  col-sm-3 col-md-3   unstyled">
                                <li>
                                    <p class="menu-title"><strong> 종류 별 검색 </strong></p>
                                </li>


                                <li><a href="#"> 전통한복  </a></li>
                                <li><a href="#"> 개량한복 </a></li>
                            </ul>

                            <ul class="col-lg-3  col-sm-3 col-md-3  unstyled">
                                <li>
                                    <p class="menu-title"><strong> 상황 별 검색 </strong></p>
                                </li>
                                <li><a href="#"> 학교 행사 </a></li>
                                <li><a href="#"> 관광 </a></li>
                                <li><a href="#"> 결혼식 </a></li>
                            </ul>

                            <!--<ul class="col-lg-2  col-sm-2 col-md-2  unstyled">-->
                            <!--    <li>-->
                            <!--        <p class="menu-title"><strong> Shoes </strong></p>-->
                            <!--    </li>-->
                            <!--    <li><a href="#"> Flats </a></li>-->
                            <!--    <li><a href="#"> Sandals </a></li>-->
                            <!--    <li><a href="#"> Wedges </a></li>-->
                            <!--    <li><a href="#"> Sneakers </a></li>-->
                            <!--    <li><a href="#"> Heels & Pumps </a></li>-->
                            <!--</ul>-->

                            <!--<ul class="col-lg-2  col-sm-2 col-md-2  unstyled">-->
                            <!--    <li>-->
                            <!--        <p class="menu-title"><strong> Popular </strong></p>-->
                            <!--    </li>-->
                            <!--    <li><a href="#">Denim</a></li>-->
                            <!--    <li><a href="#">Essentials</a></li>-->
                            <!--    <li><a href="#">Shirts</a></li>-->
                            <!--    <li><a href="#">Pants</a></li>-->
                            <!--    <li><a href="#">Outerwear</a></li>-->
                            <!--</ul>-->

                        </li>
                    </ul>
                </li>
                <li class=" "><a href="#"> course </a></li>
                <!--<li class="dropdown "><a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
                <!--    community <b class="caret"> </b> </a>-->

                <!--    <ul class="dropdown-menu">-->
                <!--        <li><a href="#">New</a></li>-->
                <!--        <li><a href="#">Denim</a></li>-->
                <!--        <li><a href="#">Essentials</a></li>-->
                <!--        <li><a href="#">Shirts</a></li>-->
                <!--        <li><a href="#">Pants</a></li>-->
                <!--        <li><a href="#">Outerwear</a></li>-->
                <!--        <li><a href="#">Sweaters</a></li>-->
                <!--        <li><a href="#">Shorts</a></li>-->
                <!--        <li><a href="#">Sale</a></li>-->
                <!--    </ul>-->
                <!--</li>-->
                <li class=" "><a href="#"> community </a></li>
                <li class=" "><a href="#"> special </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in?%>
                <li class="hide-xs"><a><%= current_user.username %></a></li>

                <% end%>
                <li class="hide-xs"><a class="btn btn-nobg  search-trigger"><i class="fa fa-search"> </i></a></li>
                <% if user_signed_in?%>
                  <li><a href="/users/sign_out"> Logout <i class="fa fa-user"></i> </a></li>
                <% else %>
                  <li><a data-target="#ModalLogin" data-toggle="modal"> Login <i class="fa fa-user"></i> </a></li>
                <% end%>
                <li class="hide-xs cart-sidebar-toggle"><a> Cart <i
                        class="glyphicon-shopping-cart glyphicon"></i> </a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>

        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search"
                   class="search-input">
            <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
        </div>
    </div>
    <!--/.search-full-->

</div>
<!-- /.Fixed navbar  -->
