<%= render partial: 'nav'%>
<section class="slider-hero-wrapper">
    <div class="slider-hero scrollme">
        <a class="arrow-left" href="#"></a> <a class="arrow-right" href="#"></a>

        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">

                <div class="swiper-slide slider-hero-bg" style="background-image: url(images/main1.jpg)">
                    <!-- Any HTML content of the first slide goes here -->
                    <div class="slider-hero-content has-overly-shade hw100">
                        <div class="display-table hw100">
                            <div class="display-table-cell hw100">
                                <div class="container ">
                                    <div class="slider-hero-caption has-dark-bg max-60 center-block text-center animateme"
                                         data-when="span"

                                         data-from="0"
                                         data-to="0.7"
                                         data-opacity="0"
                                         data-translatey="200"
                                         scale="0"
                                         data-crop="true">
                                        <h2 class="slide-caption-title-3 "style ="font-size:40px">'한복에 빠지다'
                                        <!--<a class="link">-->
                                        <!--    #WithHanbok </a>-->


                                        </h2>
                                         <div class="slide-caption-text">
                                            <p>Fall in Korea Traditional Fashion</p>
                                        </div>

                                        <!--<h5 class="slide-caption-subtitle top uppercase"> 한복이랑</h5>-->

                                        <!--<h2 class="slide-caption-title  oswald sale uppercase"> 40% - 50% <br> Off Sale-->
                                        <!--</h2>-->
                                        <!--<h5 class="slide-caption-subtitle bottom uppercase"> extra 40% off sale styles-->
                                        <!--    with code SALE2016 </h5>-->

                                        <!--<div class="slide-caption-text">-->
                                        <!--    <a href="category.html" class="btn btn-stroke lite"> SHOP SALE <i-->
                                        <!--            class="fa fa-caret-right"></i> </a>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slider-hero-bg " style="background-image: url(images/hero-bg/1.jpg)">
                    <!-- Any HTML content of the first slide goes here -->
                    <div class="slider-hero-content has-overly-shade  hw100"
                         style="background-color: rgba(0, 0, 0, 0.1);">
                        <div class="display-table hw100">
                            <div class="display-table-cell hw100">
                                <div class="container ">
                                    <div class="slider-hero-caption has-dark-bg text-left animateme" data-when="span"

                                         data-from="0"
                                         data-to="0.7"
                                         data-opacity="0"
                                         data-translatey="200"
                                         scale="0"
                                         data-crop="true">

                                        <h2 class="slide-caption-title ">Summer <span
                                                class="lighter"> Essentials </span></h2>

                                        <div class="slide-caption-text">
                                            <p> Discover thousands of products about Summer Essentials </p>
                                            <a href="category.html" class="btn btn-stroke lite">Shop Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slider-hero-bg" style="background-image: url(images/hero-bg/3.jpg)">
                    <!-- Any HTML content of the first slide goes here -->
                    <div class="slider-hero-content  hw100">
                        <div class="display-table hw100">
                            <div class="display-table-cell hw100">
                                <div class="container ">
                                    <div class="slider-hero-caption has-light-bg   max-60  text-left animateme"
                                         data-when="span"

                                         data-from="0"
                                         data-to="0.7"
                                         data-opacity="0"
                                         data-translatey="200"
                                         scale="0"
                                         data-crop="true">

                                        <h2 class="slide-caption-title ">New Collection </h2>

                                        <p>Black Lace Panel Seamless Thong
                                            Item: TSHOP2015-Black</p>

                                        <div class="slide-caption-text">

                                            <a href="category.html" class="btn btn-dark lite">Shop Collection</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slider-hero-bg " style="background-image: url(images/hero-bg/5.jpg)">
                    <!-- Any HTML content of the first slide goes here -->
                    <div class="slider-hero-content has-overly-shade  hw100"
                         style="background-color: rgba(0, 0, 0, 0.1);">
                        <div class="display-table hw100">
                            <div class="display-table-cell hw100">
                                <div class="container ">
                                    <div class="slider-hero-caption has-dark-bg text-left animateme" data-when="span"

                                         data-from="0"
                                         data-to="0.7"
                                         data-opacity="0"
                                         data-translatey="200"
                                         scale="0"
                                         data-crop="true">

                                        <h2 class="slide-caption-title slide-caption-title-2 uppercase">New Year //
                                            2016 </h2>

                                        <div class="slide-caption-text">
                                            <h5 class="slide-caption-subtitle bottom "> New Year Exclusive Denim Jacket
                                                / No-denim row   </p>
                                                <a href="category.html" class="btn btn-stroke lite">Shop 2016 Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slider-hero-bg " style="background-image: url(images/hero-bg/6.jpg)">
                    <!-- Any HTML content of the first slide goes here -->
                    <div class="slider-hero-content has-overly-shade  hw100"
                         style="background-color: rgba(0, 0, 0, 0.1);">
                        <div class="display-table hw100">
                            <div class="display-table-cell hw100">
                                <div class="container ">
                                    <div class="slider-hero-caption has-dark-bg text-cener animateme" data-when="span"

                                         data-from="0"
                                         data-to="0.7"
                                         data-opacity="0"
                                         data-translatey="200"
                                         scale="0"
                                         data-crop="true">

                                        <h3 class="slide-caption-title-3 ">Trend to Wear Now <a class="link">
                                            #ShopTrend </a> <br> Discover the latest trends in women's fashion

                                        </h3>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination swiper-pagination-v"></div>
        </div>


    </div>
</section>
<div class="container main-container ">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
            <span>
              About us
            </span>
                    </h1>

                    <!--<p class="lead text-center">-->
                    <!--    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit-->
                    <!--    dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit-->
                    <!--    metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per-->
                    <!--    inceptos himenaeos.-->
                    <!--</p>-->


                    <hr class="hr hr30">
                    <div class="row animated">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" src="images/main2.jpg" alt="img">

                            <h3 class="block-title-3">
                                ‘한복이랑’이란?
                            </h3>

                            <p> -전국의 모든 한복대여점의 정보를 알려주는 서비스 플랫폼.(가격, 위치, 한복대여정보 등)</p>
                            <p>-한복을 입고 무엇을 하면 좋을지에 대한 이색코스를 깔끔하게 제공.
                            <p>-한복에 대해 잘 모르거나 혹은 한복대여 경험이 없는 한국인 10~20대 커플,친구들
                                아울러 외국인 관광객들에게도 한복을 경험할 수 있는 기회를 제공.</p>
                            <p>-최근 경쟁이 심화되고 있는 한복대여점들의 고민을 해결해 줄 수 있게끔 마케팅을 통한
                                더 많은 고객 유치.</p>



                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" src="images/pred.jpg" alt="img">

                            <h3 class="block-title-3">
                                전략적인 마케팅으로 이용자 수 확대
                            </h3>

                            <p>
                                -좋아요 수 총 ‘3만명’ 페이스북 페이지 보유.
                                (하루 게시글 노출 수 약 7천~1만 회.)
                            </p>
                            <p>
                                -인스타그램/ 네이버 파워블로그 등 전체적인 SNS 마케팅 전략 확대.
                            </p>
                            <p>
                                -정부지원 마케팅 비용 총 500만원.
                            </p>
                            <p>
                                -웨이보,텐센트,E채널 등과 같은 해외적 SNS에도 마케팅 침투.
                            </p>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <img class="img-responsive" src="images/cake.jpg" alt="img">

                            <h3 class="block-title-3">
                                한국고객뿐만 아니라 외국고객까지
                            </h3>

                            <p>
                                -영어,중국어,일본어로 웹사이트 동시번역.
                                (해외 10년 이상 거주 팀원 및 외국인 팀원 존재)
                            </p>
                            <p>
                                -외국인들의 설문조사를 통해 그들의 입맛에 맞는 컨텐츠 제공.
                            </p>
                            <p>
                                -각 한복대여점에 외국인 배낭여행객 손님 수 확대 기대.
                            </p>

                        </div>


                    </div>
                    <!--/.row-->

                    <hr>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>



<div class="section-people white-bg">
<div class="container">
    <div style="clear:both;">
     <hr class="hr40 hide-on-gray-look">
    </div>

    <div class="row ">
        <div class="col-xs-12">
            <h2 class="text-center about-title">Our People</h2>


            <div class="row row-center preson-row">
                <div class=" preson text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0.05">
                    <img src="images/about/pjoong.jpg" class="img-circle img-responsive" alt="img">

                    <div class="preson-details">
                        <p>김의중<br><span>CEO</span></p>

                    </div>
                </div>
                <div class=" preson text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0.05">
                    <img src="images/about/psan.jpg" class="img-circle img-responsive" alt="img">

                    <div class="preson-details">
                        <p>임규산<br><span>CTO</span></p>

                    </div>
                </div>
                <div class=" preson text-center wow fadeInUp" data-wow-duration=".65s" data-wow-delay="0.1">
                    <img src="images/about/pno.jpg" class="img-circle img-responsive" alt="img">

                    <div class="preson-details">
                        <p>노종원<br><span>Developer</span></p>

                    </div>
                </div>
                <div class=" preson text-center wow fadeInUp" data-wow-duration=".25s" data-wow-delay="0.07">
                    <img src="images/about/pah2.jpg" class="img-circle img-responsive" alt="img">

                    <div class="preson-details">
                        <p>조현아<br><span>Marketing</span></p>

                    </div>
                </div>
                <div class=" preson text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0.05">
                    <img src="images/about/pjoo.jpg" class="img-circle img-responsive" alt="img">

                    <div class="preson-details">
                        <p>이승주<br><span>Designer</span></p>

                    </div>
                </div>

                <div class=" preson text-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0.05">
                    <img src="images/about/pjung.jpg" class="img-circle img-responsive" alt="img">

                    <div class="preson-details">
                        <p>박정은<br><span>Designer</span></p>

                    </div>
                </div>



                <div class=" preson text-center wow fadeInUp" data-wow-duration=".40s" data-wow-delay="0.09">
                    <img src="images/about/phanbin.jpg" class="img-circle img-responsive" alt="img">

                    <div class="preson-details">
                        <p>최한빈<br><span>Marketing</span></p>

                    </div>
                </div>




            </div>


        </div>

    </div>
</div>
</div>

<div class="section-about-bottom"
     style="background: url(images/about/bg.jpg) no-repeat bottom center; background-size: 100% auto">



    <!--  .row || Our People -->

    <div class="container">
        <div class="col-lg-12">
            <div class="about-content text-center  wow fadeInUp">
                <h2 class="text-center about-title">문의</h2>

                <p class="lead-2 ">
                    문의사항이 있다면, <br> 메세지를 보내주세요. </p>


                <a class="btn btn-center btn-lg  btn-primary" data-toggle="modal" href="#contact-us"><i
                        class=" fa fa-envelope"></i> Send a message </a>
            </div>

        </div>
    </div>
</div>


<%= render partial: 'footer' %>


<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="assets/js/jquery/jquery-1.10.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/swiper-master/js/swiper.jquery.min.js"></script>
<script>

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: '.swiper-pagination',
        nextButton: '.arrow-right',
        prevButton: '.arrow-left',
        // effect: 'cube',
        keyboardControl: true,
        parallax: true,
        speed: 600,
        spaceBetween: 0
    });


</script>

<!-- include jqueryCycle plugin -->
<script src="assets/js/jquery.cycle2.min.js"></script>

<!-- include easing plugin -->
<script src="assets/js/jquery.easing.1.3.js"></script>

<!-- include  parallax plugin -->
<script type="text/javascript" src="assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="assets/plugins/icheck-1.x/icheck.min.js"></script>

<!-- include grid.js // for equal Div height  -->
<script src="assets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- jQuery select2 // custom select   -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="assets/js/bootstrap.touchspin.js"></script>

<!-- include custom script for only homepage  -->
<script src="assets/js/home.js"></script>

<!-- include custom script for site  -->
<script src="assets/js/script.js"></script>

<script src="assets/js/sidebar-nav.js"></script>
<!-- Reveal Animations When You Scroll  -->
<script src="assets/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- scrollme || onscroll parallax effect for category page  -->
<script src="assets/js/jquery.scrollme.min.js"></script>
<script type="text/javascript">


    $(function () {
        var target = $("div.has-overly-shade"),
                targetHeight = target.outerHeight();
        $(document).scroll(function () {
            var scrollPercent = (targetHeight - window.scrollY) / targetHeight;
            scrollPercent >= 0 && (target.css("background-color", "rgba(0,0,0," + (1.1 - scrollPercent) + ")"))
        })
    });


    $(function () {
        if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
            $('#ios-notice').removeClass('hidden');
            $('.parallax-container').height($(window).height() * 0.5 | 0);
        } else {
            $(window).resize(function () {
                var parallaxHeight = Math.max($(window).height() * 0.7, 200) | 0;
                $('.parallax-container').height(parallaxHeight);
            }).trigger('resize');
        }
    });


    $(document).ready(function () {
        var isMobile = function () {
            //console.log("Navigator: " + navigator.userAgent);
            return /(iphone|ipod|ipad|android|blackberry|windows ce|palm|symbian)/i.test(navigator.userAgent);
        };

        if (isMobile()) {
            // For  mobile , ipad, tab
            $('.animateme').removeClass('animateme');
            $('.if-is-mobile').addClass('ismobile');

        } else {
        }


    }); // end




</script>
